# Coding Practice \#1: Due January 31st at midnight in Canvas

file needed = (`banks_and_branches.csv`, `nhe.csv`)

Answer the questions below in a Jupyter notebook. You can modify this notebook by adding cells with your answers.

In [1]:
# Load packages needed
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:

import os
os.chdir('C:/Users/messy/Desktop/School/ECON570')

## Exercise 1: Kaiman, Jackson
Replace 'Last, First' above with your actual name. Enter it as your last name, first name.

## Exercise 2: Warm-ups

1. Write a loop that prints each integer from 1 through 10 and their squares (e.g., "1 squared is 1", then "2 squared is 4").

In [2]:
for i in range(1,11):
    print(f'{i} squared is {(i)**2}')

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81
10 squared is 100

2. Write code that modifies the below list of the Beatles' band members, replacing Pete Best with Ringo Starr. Print the resulting list.

```python 
beatles = ['John Lennon', 'Paul McCartney', 'George Harrison', 'Pete Best']
```

In [4]:
beatles = ['John Lennon', 'Paul McCartney', 'George Harrison', 'Pete Best']
beatles[3] = 'Ringo Starr'
beatles

['John Lennon', 'Paul McCartney', 'George Harrison', 'Ringo Starr']

3. Write a loop that iterates through the list you created in 1. to print out the sentence "The Beatles were John Lennon and Paul McCartney and George Harrison and Ringo Starr."

In [13]:
sentence = "The Beatles were "
for i in range(len(beatles)):
    if i == 0:
        sentence += beatles[i]
    else:
        sentence += " and " + beatles[i]

sentence

'The Beatles were John Lennon and Paul McCartney and George Harrison and Ringo Starr'

4. You are given the `data` dictionary below (source: [KFF](https://www.healthsystemtracker.org/chart-collection/u-s-spending-healthcare-changed-time/)). Notice that the health spending data are stored as strings. Fix `data` by replacing the strings with floats and then print the fixed version. Use a loop or a list comprehension.  

```python
data = {'year' : [1990, 2000, 2010], 'health_spend' : ['718.8', '1365.7', '2589.4']}
```

In [28]:
data = {'year' : [1990, 2000, 2010], 'health_spend' : ['718.8', '1365.7', '2589.4']}
type(data)

data['health_spend'] = [float(x) for x in data['health_spend']]
    
print(data)

for val in data['health_spend']:
    print(val, type(val))

{'year': [1990, 2000, 2010], 'health_spend': [718.8, 1365.7, 2589.4]}
718.8 <class 'float'>
1365.7 <class 'float'>
2589.4 <class 'float'>

## Exercise 3: U.S. Exports

The next cell has a dictionary with nominal exports of goods (in millions of dollars) from the United States to all other countries in 2017.

Run the cell below to read the dictionary into memory.

In [13]:
us_exports_2017 = {'Argentina': 9585.957928, 'Serbia': 125.604552, 'Bulgaria': 381.490292, 'Bangladesh': 1473.961033, 
                   'Sierra Leone': 79.185252, 'Guyana': 377.349484, 'Turkey': 9741.491909, 'Syrian Arab Republic': 6.961023,
                   'Saint Vincent and the Grenadines': 81.348131, 'Eritrea': 5.021254, 'Kosovo': 10.070786, 'Bermuda': 693.65006,
                   'Zimbabwe': 39.926035, 'Suriname': 359.542397, 'Uganda': 107.869624, 'Palau': 19.432665, 'Guinea': 103.022431, 
                   'Heard Island and Mcdonald Islands': 0.125829, 'Mongolia': 82.192362, 'Botswana': 93.045279, 'Cameroon': 158.845783, 
                   'Ecuador': 4820.700634, 'Falkland Islands (Malvinas)': 0.482089, 'Iceland': 399.258756, 'South Korea': 48326.408702, 
                   'Hungary': 1888.233492, 'Comoros': 1.375097, 'Malta': 293.009573, 'Luxembourg': 1078.074731, 'Tonga': 16.719457, 
                   'Tanzania; United Republic of': 145.242068, 'Liberia': 138.340637, 'Mali': 62.01555, 'Algeria': 1059.840617, 
                   'South Africa': 5020.062464, 'Kyrgyzstan': 26.066859, 'Swaziland': 24.073435, 'Central African Republic': 11.178603, 
                   'Andorra': 3.285167, 'Seychelles': 15.488847, 'Other Countries': 0.0, 'Cook Islands': 5.243873, 
                   "Lao People's Democratic Republic": 25.67166, 'Ghana': 859.971235, 'Malaysia': 12964.461912, 
                   'Micronesia (Federated States of)': 44.827548, 'Indonesia': 6863.831289, 'Tajikistan': 17.911115, 'Gambia': 39.235769, 
                   'Thailand': 10991.613094, 'Cape Verde': 9.146393, 'West Bank': 2.19236, 'Sri Lanka': 336.25559, 
                   'Burma (Myanmar)': 211.368799, 'Lebanon': 1221.529041, 'Poland': 4523.318939, 'Austria': 4275.26315, 
                   'Panama': 6301.303156, 'Lithuania': 609.272207, 'Hong Kong': 39939.130227, 'Kenya': 454.453344, 'Netherlands': 41510.332962, 
                   'Dominican Republic': 7827.520352, 'Cayman Islands': 885.800982, 'Reunion': 8.376879, 'Belarus': 72.668182, 
                   'Burundi': 8.13276, 'Nigeria': 2170.069073, 'Martinique': 168.255979, 'Equatorial Guinea': 111.93615, 'Vatican City': 1.146853, 
                   'Taiwan': 25729.504439, 'Georgia': 382.865271, 'Aruba': 966.305683, 'Lesotho': 1.901616, 'Colombia': 13312.122946, 
                   'Curacao': 692.167798, 'Cuba': 291.276873, 'French Southern Territories': 2.842721, 'China': 129893.586716, 
                   'Norway': 5453.37072, 'Svalbard and Jan Mayen Island': 1.986719, "CÃ´te d'Ivoire": 319.964133, 'Uruguay': 1599.284155, 
                   'Montserrat': 9.708109, 'Madagascar': 53.367175, 'Vanuatu': 7.762425, 'Bhutan': 34.892754, 'Greenland': 9.884715, 
                   'Kuwait': 5143.414006, 'Iraq': 1204.721644, 'Senegal': 207.93405, 'Ukraine': 1787.9993, 'Haiti': 1410.575337, 
                   'Mauritius': 61.421605, 'Nicaragua': 1589.398811, 'Qatar': 3124.095821, 'Moldova; Republic of': 17.614764, 
                   'Samoa': 38.309271, 'Saint Kitts and Nevis': 243.537203, 'Ethiopia': 877.152409, 'French Polynesia': 119.798493, 
                   'Uzbekistan': 136.094699, 'East Germany': 0.0, 'Switzerland': 21684.835238, 'Rwanda': 66.140569, 'Solomon Islands': 9.303881, 
                   'Macedonia': 41.225784, 'Christmas Island': 0.476695, 'Sao Tome and Principe': 3.140792, 'Papua New Guinea': 105.851898, 
                   'Venezuela': 4133.114819, 'Iran': 136.000618, 'Grenada': 102.991413, 'New Caledonia': 59.362579, 'Kazakhstan': 552.092011, 
                   'Italy': 18404.689805, 'Paraguay': 2719.236832, 'Guinea Bissau': 3.751655, 'India': 25688.861698, 'Slovenia': 371.602049, 
                   'Canada': 282265.135262, 'United Arab Emirates': 20019.696481, 'Turks and Caicos Islands': 369.866125, 
                   'Croatia': 447.955755, 'Nepal': 75.851857, 'Congo': 117.378013, 'Saint Helena': 0.587754, 
                   'British Indian Ocean Territory': 36.334868, 'Singapore': 29805.915154, 'Slovakia': 441.620058, 'Faroe Islands': 2.034537, 
                   'Gaza Strip': 0.555101, 'Saint Lucia': 572.438902, 'Dominica': 178.447184, 'Bolivia': 594.703634, 'Chad': 31.338485, 
                   'British Virgin Islands': 377.227746, 'Wallis and Futuna': 0.300526, 'South Sudan': 13.57431, 'Kiribati': 4.928546, 
                   'Fiji': 66.551898, 'French Guiana': 162.74323, 'United Kingdom': 56257.922547, 'Finland': 1534.930626, 'Jordan': 1920.88633, 
                   'Serbia and Montenegro': 0.0, 'Norfolk Island': 0.138341, 'Pakistan': 2808.16696, 'Bahamas': 3057.271998, 'Mexico': 243314.438647,
                   'Honduras': 5079.663953, 'Afghanistan': 941.42806, 'Anguilla': 59.409382, 'Romania': 954.684233, 'Spain': 11063.740551, 
                   'Tuvalu': 0.796156, 'Portugal': 1192.459324, 'Brunei': 121.111606, 'France': 33595.514399, 'Togo': 481.810854, 
                   'Chile': 13605.342592, 'Marshall Islands': 556.988101, 'Morocco': 2219.661823, 'Peru': 8662.61201, 
                   'Western Sahara': 0.418356, 'Angola': 809.444868, 'Malawi': 27.88084, 'Netherlands Antilles': 0.0, 'Belize': 294.920783, 
                   'Azerbaijan': 354.555299, 'Macau; SAR of China': 502.136131, 'Bahrain': 898.1564, 'Niue': 0.086722, 'North Korea': 0.00266, 
                   'Nauru': 0.198927, 'Cyprus': 82.40193, 'Gibraltar': 1126.417629, 'Somalia': 70.594917, 'Greece': 960.728649, 
                   'Gabon': 89.00649, 'Saudi Arabia': 16348.000104, 'Japan': 67605.076964, 'Mauritania': 127.77739, 'Estonia': 273.958646, 
                   'Tokelau Islands': 1.162557, 'Sint Maarten': 545.15619, 'Namibia': 118.561677, 'Australia': 24526.835921, 
                   'Maldives': 34.373287, 'Sudan': 69.654352, 'Djibouti': 157.467862, 'New Zealand': 3924.611227, 'East Timor': 2.565401, 
                   'Antigua and Barbuda': 425.623529, 'Czech Republic': 2273.780613, 'Guatemala': 6895.337671, 'Liechtenstein': 27.744402, 
                   'Belgium': 29923.692464, 'Mozambique': 179.126068, 'Monaco': 42.263572, 'Brazil': 37221.566249, 'Germany': 53896.753486, 
                   'Egypt': 3991.832766, 'San Marino': 2.109451, 'Yemen': 199.030638, 'Cocos (Keeling) Islands': 0.452079, 
                   'Israel': 12550.082579, 'Mayotte': 0.493107, 'Barbados': 525.452357, 'Philippines': 8450.925039, 
                   'Burkina Faso': 60.978397, 'Guadeloupe': 244.842196, 'Benin': 250.13587, 'Armenia': 55.005606, 
                   'Democratic Republic of Congo': 76.260999, 'Niger': 44.082049, 'Viet Nam': 8133.364685, 'Albania': 62.086804, 
                   'Montenegro': 9.148718, 'Cambodia': 400.220962, 'Bosnia and Herzegovina': 27.142924, 'El Salvador': 3057.896029, 
                   'Pitcairn Islands': 0.001431, 'Trinidad and Tobago': 1816.745419, 'Tunisia': 543.575125, 'Sweden': 3734.457331, 
                   'Zambia': 85.149483, 'Turkmenistan': 282.178944, 'Oman': 1985.049832, 'Denmark': 2210.191808, 'Latvia': 381.621395, 
                   'Ireland': 10707.555883, 'Libyan Arab Jamahiriya': 134.952674, 'Saint Pierre and Miquelon': 0.390569, 
                   'Costa Rica': 6169.60881, 'Jamaica': 2105.505325, 'Russia': 6998.497148}

1. Convert the dictionary to a pandas DataFrame with two columns, `country` and `exports`. [Note: You'll actually want to convert the `dict.items()` and specify the column names.]

In [14]:
import pandas as pd
df = pd.DataFrame(us_exports_2017.items(), columns=["country", "exports"])
df.head()

        country      exports
0     Argentina  9585.957928
1        Serbia   125.604552
2      Bulgaria   381.490292
3    Bangladesh  1473.961033
4  Sierra Leone    79.185252

2. What is the total value of U.S. exports of goods to the entire world? Use the function from the previous part. Print it as 'The United States exported $X trillion dollars of goods in 2017.' Format your string so that the number has one digit to the right of the decimal point. [Notice that the values are reported in millions, so you have to convert to trillions!]
\[Hint: Look into pandas `.sum()` and string `.format()` functions.\]

In [15]:
total_millions = df["exports"].sum()

total_trillions = total_millions / 1_000_000

print("The United States exported ${:.1f} trillion dollars of goods in 2017.".format(total_trillions))

The United States exported $1.5 trillion dollars of goods in 2017.

3. Subset the DataFrame to countries for which the US had greater exports than it did to Turkey in 2017.

In [16]:
turkey_exports = df.loc[df["country"] == "Turkey", "exports"].iloc[0]

more = df[df["exports"] > turkey_exports]

more

                  country        exports
24            South Korea   48326.408702
44               Malaysia   12964.461912
49               Thailand   10991.613094
59              Hong Kong   39939.130227
61            Netherlands   41510.332962
71                 Taiwan   25729.504439
75               Colombia   13312.122946
79                  China  129893.586716
104           Switzerland   21684.835238
116                 Italy   18404.689805
119                 India   25688.861698
121                Canada  282265.135262
122  United Arab Emirates   20019.696481
129             Singapore   29805.915154
143        United Kingdom   56257.922547
150                Mexico  243314.438647
155                 Spain   11063.740551
159                France   33595.514399
161                 Chile   13605.342592
181          Saudi Arabia   16348.000104
182                 Japan   67605.076964
188             Australia   24526.835921
198               Belgium   29923.692464
201                Brazil   37221.566249
202               Germany   53896.753486
207                Israel   12550.082579
232               Ireland   10707.555883

## Exercise 4: Importing data

The file `banks_and_branches.csv` contains data on the number of commercial banking institutions, branches, and offices in the United States at the end of each year between 1934 and 2017. 

\[The data are from Table CB01, which is maintained by the Federal Deposit Insurance Corporation (FDIC).  FDIC data can be downloaded from [here](https://www.fdic.gov/open/datatools.html). You are encouraged to browse around their website to see what's there &mdash; this might be a useful source for your final project.\]

Your task is to import this data into Python and get it into good shape. 

### Part (a):
Import the data from `banks_and_branches.csv` into a pandas DataFrame called `banking_data`. If you open the .csv file in Excel or a similar program, you'll notice that there are notes in several of the cells at the beginning of the file. Write code that omits those extraneous notes. This code should appear within the command you use to open the file.

In [25]:
csv_path = "data/banks_and_branches.csv"

banking_data = pd.read_csv(csv_path, skiprows=6) # first rows were blank

# take a quick look
banking_data.head()

   Year Institutions Branches Offices
0  2017        4,918   79,163  84,081
1  2016        5,112   80,089  85,201
2  2015        5,340   81,541  86,881
3  2014        5,607   81,990  87,597
4  2013        5,847   82,735  88,582

### Part (b):
1. Drop the `Offices` column.
2. Run the following line of code.
```python
banking_data.describe()
```

Why does the output summarize only a single column? Type your answer in a markdown cell below.

In [26]:
banking_data = banking_data.drop(columns = ["Offices"])

In [27]:
banking_data

    Year Institutions Branches
0   2017        4,918   79,163
1   2016        5,112   80,089
2   2015        5,340   81,541
3   2014        5,607   81,990
4   2013        5,847   82,735
..   ...          ...      ...
79  1938       13,661    3,412
80  1937       13,797    3,381
81  1936       13,973    3,261
82  1935       14,125    3,112
83  1934       14,146        0

[84 rows x 3 columns]

### Part (c):

1. Use a loop to fix the columns so they are of type `integer`. \[Hint: Apply something like this to each appropriate column: `.str.replace().astype(int)`. What is it that we need to replace?\]
2. Summarize the data again to confirm that they are fixed.

In [28]:
numeric_cols = [col for col in banking_data.columns if col != "Year"]

for col in numeric_cols:
    banking_data[col] = (
        banking_data[col]
        .str.replace(",", "")  
        .astype(int)                        
    )

In [29]:
print(banking_data.dtypes)
print(banking_data.describe())

Year            int64
Institutions    int32
Branches        int32
dtype: object
              Year  Institutions      Branches
count    84.000000     84.000000     84.000000
mean   1975.500000  11781.797619  35196.369048
std      24.392622   2952.608770  28349.288436
min    1934.000000   4918.000000      0.000000
25%    1954.750000   9433.500000   6810.250000
50%    1975.500000  13312.500000  30774.500000
75%    1996.250000  13624.250000  59024.750000
max    2017.000000  14496.000000  83576.000000

    ## Exercise 5
    Let's work with some data on health expenditures. The data comes from the [Centers for Medicare and Medicaid Services (CMS)](https://www.cms.gov/research-statistics-data-and-systems/statistics-trends-and-reports/nationalhealthexpenddata/nationalhealthaccountshistorical). The goal is to brush up on our data cleaning skills and compute a few summary statistics. 

    ### Part (a):
    1. The file `nhe.csv` contains a column with the year and the total amount spent on healthcare in billions of dollars in that year. Read it into a DataFrame and create a series of growth rates. Print out the first 10 observations. [Hint: Check out the `pct_change` method.]

In [31]:
nhe = pd.read_csv(
    "data/nhe.csv",
     header = 0, na_values=["."])

nhe = nhe.dropna(subset=["nhe"])

nhe["growth_rate"] = nhe["nhe"].pct_change()

print(nhe.head(10))

    year   nhe  growth_rate
0   1960  27.1          NaN
1   1961  29.1     0.073801
2   1962  31.8     0.092784
3   1963  34.6     0.088050
4   1964  38.2     0.104046
6   1966  45.8     0.198953
7   1967  51.2     0.117904
8   1968  58.0     0.132812
9   1969  65.4     0.127586
10  1970  74.1     0.133028

2. Something went wrong, right? There is a gremlin in the data. Find a way to use `read_csv()` to turn the bad data into `NaN`s. You may find `read_csv?` helpful. Replace any year that has a `NaN` with the average of expenditures in the previous year and the following year. Then, compute the growth rates and print the first 10 years of data.

*Note*: There are multiple missing years. Write your code to replace these years' expenditures using a loop so that it could flexibly handle any number of missing years. The following outputs a Series of boolean values (True or False) that specify whether or not the expenditure is missing:
```python
nhe['nhe'].isna()
```
Can you use a `for` loop with a nested `if` statement to fill in the missing data?

In [33]:
nhe = pd.read_csv("data/nhe.csv", na_values=[ "."])

for i in range(1, len(nhe) - 1):
    if pd.isna(nhe.loc[i, "nhe"]):
        prev_val = nhe.loc[i - 1, "nhe"]
        next_val = nhe.loc[i + 1, "nhe"]
        if not pd.isna(prev_val) and not pd.isna(next_val):
            nhe.loc[i, "nhe"] = (prev_val + next_val) / 2

nhe["growth_rate"] = nhe["nhe"].pct_change()

print(nhe.head(10))

   year   nhe  growth_rate
0  1960  27.1          NaN
1  1961  29.1     0.073801
2  1962  31.8     0.092784
3  1963  34.6     0.088050
4  1964  38.2     0.104046
5  1965  42.0     0.099476
6  1966  45.8     0.090476
7  1967  51.2     0.117904
8  1968  58.0     0.132812
9  1969  65.4     0.127586

### Part (b):
1. Compute the mean and standard deviation of the growth rate using `.mean()` and `.std()`. Use `.format()` to print out your results in *neatly formatted* sentences.
2. Are there any missing growth rates? Explain why in a markdown cell below.

In [34]:
mean_growth = nhe["growth_rate"].mean()
std_growth = nhe["growth_rate"].std()

print(f'the mean growth is {mean_growth}')
print(f'the std. deviation of growth is {std_growth}')

the mean growth is 0.08699247364135379
the std. deviation of growth is 0.035498269148724136

Yes, there is a missing growth rate in the year 1960. this is the first year, and there is no historical data to recall and compare 1960 to, in order to get it's growth rate.
1966 also had a missing growth rate, before it was amended with the missing 1965 year. in part 1, we amended it to show the % growth over two years, which is why 1966 has a .19 growth rate (almost double the other years)